.input__checkout input{
    border-radius: 3px;
    background-color: rosybrown;
    width: 420px;
    padding:1em;
}

.input__checkout{
    display: flex;
    flex-direction: column;
}
.group__button{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.input__checkout h1{
    text-align: center;
    margin-bottom: 2rem;
}
